.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  max-height: 90vh; /* адаптивная высота */
  position: relative;
  padding: 24px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.title {
  margin: 0;
  font-size: 1.3rem;
}

.bodyScrollable {
  overflow-y: auto;
  margin: 16px 0;
}

.footer {
  flex-shrink: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent !important;
  color: var(--text);
  border: none;
  font-size: 1.5rem;
  padding: 0.3rem;
  line-height: 1;
  cursor: pointer;
}

.close:hover {
  color: var(--accent);
}
