.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* полностью на весь экран */
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", system-ui, sans-serif;
  overflow: hidden; /* запрещаем скролл на body/layout */
}

.main {
  flex: 1; /* занимает оставшееся место между Header и Footer */
  overflow-y: auto; /* только здесь скролл */
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
